nav{
/* Navigation bar */
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	padding: 1.5em 0;
	background-color: #fff;
	vertical-align: top;
}
#nyhetersok form{
	padding-right:3em;
}
#FORSIDEN{
	display:none;
}

#iconmeny{
	display: none;

}
#sidebilde{
	display: none;
	height: 0em;
	width:0em;
}
#sidebilde-hogre{
	display: none;
	height: 0em;
	width:0em;
	margin-top:0.2em;
}

.synligviktig{
	display: block !important; 
}

nav a{
	width: 13%;
	display: inline-block;
	text-decoration: none;
	color: black;
	font-family: "raleway", "arial";


}

.menybar{
	border-bottom-style: solid;
	border-bottom-color: white;
}

.menybar:hover{
	border-bottom-style: solid;
	border-bottom-color: #A80000;
}
#markert{
		border-bottom-style: solid;
	border-bottom-color: #e30000;
}


.logo{ /* logoen sin kode */
	height: 6.001em;
	width: 4.5em;
	position: absolute;
	left:0;
	top:-0.2%;
	right:0;
	margin-top: 1%;
	
	margin-left:auto;
	margin-right:auto;
	z-index: 3;
}

#triangle{ /* Forerste trekant under logo */
	width: 0; 
	height: 0; 
	border-left: 5em solid transparent;
	border-right: 5em solid transparent;
	position: relative;
	margin-top: -1.6em;
	border-top: 5em solid #fff/*#fc414a*/;
	
	padding:0;
	display:block;
	margin-left:auto;
	margin-right:auto;
	z-index: 2;
}

#triangle-large{ /* Bakerste trekant under logo */
	width: 0; 
	height: 0; 
	border-left: 5.5em solid transparent;
	border-right: 5.5em solid transparent;
	
	border-top: 5.5em solid #fc414a;
	margin-top: -0.2em;
	padding:0;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}
.Fusynlig
{
	display:none;
}
.sokeboks {
	height: 2em;
	display:block;
	width:100%;
	margin-bottom:1em;

}
.sokeboks form{
	float:right;
	display: block;

}
.sokeboks input{
	padding: 0.5em;
}

button{ /* Søkeknapp */
	border: none;
	background: #e30000;
	color: white;
	font-family: "raleway", "arial";
	text-transform: uppercase;
	cursor: pointer;
	padding: 0.63em;
	vertical-align: top;
	
}

button:hover{
	background: #A80000;
}

body{
	background-color: #F6F6F6;
	margin: 0;
	width:100%
}

#main{ /* Usynlig boks som holder alt i midten */
	margin: auto;
	width: 90%;
	height: auto;
	margin-top:-2em;
	overflow: hidden;
}

.innhold-boks{ /* hovedboksen som skal ha innholdet */
	float:left;
	width: 75%;
	background-color: white;
	height: auto;
	padding: 2%;
	display: inline-block;
	margin-left:1%;
	margin-bottom: 1em;
}

.lik-linje{ /* setter undertittel og innhold-boks på lik linje */
	display:inline-block;
	float:left;
	width:20%;
}

.under-nav{
	list-style-type: none;
	width:100%;
	margin-top: 0;
	margin-right: 0.2em;
	padding:0;

}

.undertittel{ /* for sidemenyen */
	padding-left: 0;
	margin-bottom: 0.2em;

	background-color:#FFF;
	transition: color 0.25s;
	transition: background-color 0.25s;
}

.undertittel a{
	display:block;
	
	padding-left: 8%;
	padding-bottom:1em;
	padding-top:1em;


}

.undertittel:hover, .active {
	background-color: #A80000;
	
}
/*.undertittel:hover .undermeny{
	display: block;
}*/
.undertittel:hover .link-font-style, .active .link-font-style{
	color:white;
}

.under_undertittel .link-style{
	padding-left: 2em;
}
.under_undertittel:hover {
	background-color: #e30000;
}

.under_undertittel:hover .link-style{
	color: white;
}
.under_undertittel{
	background: #ededed;
	transition: background-color 0.25s;
}

.undermeny{
	display: none;
	background:white;
	list-style-type: none;
	padding: 0;

	
}
 
.synlig{
	display:block;	
}


.usynlig{
	/*display:none;*/
	height: 0;
}
/*
.link-font-style:hover{
	color:white;
}
*/
.link-font-style{
	font-size:1.1em;
	font-family: "raleway", "arial";
	color: Black;
	text-decoration: none;
}
.link-style{
	font-size:1em;
	font-family: "raleway", "arial";
	color: Black;
	text-decoration: none;
 }

 .sentrale-bilder{
	width: 100%;
	height:100%;
 }
 
 
/* Ting som tilhører "for medlemmer" */
.aktuelt {
	width: 100%;
	height: 10em;
	margin-bottom: 2%;
	background-image: url(../for-medlemmer/AA_ID_x6.jpg);
	background-size: auto 100%;
	padding-top: 6%;
	padding-bottom: 0%; 
	padding-left: 0%;
	padding-right: 0%;
}
.aktuelt p{
	font-family: "raleway", "arial";
	color: black;
	font-size: 2em;
	text-transform: uppercase;
	vertical-align: top;
	text-align: center;
}

.for-lokallag {
	width: 48.5%;
	height: 10em;
	margin-right: 1%;
	margin-bottom: 2%;
	display: inline-block;
	background-color: #A80000;
	padding-top:6%;
	padding-bottom: 0%; 
	padding-left: 0%;
	padding-right: 0%;

}

.for-lokallag p, .for-leir p, .ledertrening p{
	font-family: "raleway", "arial";
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
}

.for-leir{
	width: 48.5%;
	height: 10em;
	margin-left: 1%;
	margin-bottom: 2%;
	display: inline-block;
	background-color: #A80000;
	padding-top:6%;
	padding-bottom: 0%; 
	padding-left: 0%;
	padding-right: 0%;

}

.retrett{ /* Retrett-boks på "for medlemmer"-siden */
	width: 48.5%;
	height: 10em;
	margin-right: 1%;
	margin-bottom: 2%;
	display: inline-block;
	background-color: red;
	padding-top:6%;
	padding-bottom: 0%; 
	padding-left: 0%;
	padding-right: 0%;
	background-image: url(../for-medlemmer/retrett.JPG);
	background-size:   100% auto ;
	float:left;
}

.retrett p{
	font-family: "raleway", "arial";
	color: black;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
}


.skjemaer ul li{
	list-style-type: none;
}
.skjemaer ol li{
	list-style-type: lower-latin;
}


.skjemaer img, .handbok img{
	width: 50%;
	height: auto;
}

#for-medlemmer p, li, .skjemaer, #ledertrening, #img, .handbok{
	font-family: "raleway", "arial"; 
	line-height: 1.5;
}

#ledertrening img, #kurs img{
	width: 100%;
	height: auto;

}

.ledertrening{
	width: 48.5%;
	height: 10em;
	margin-left: 1%;
	margin-bottom: 2%;
	display: inline-block;
	background-color: #A80000;
	padding-top:6%;
	padding-bottom: 0%; 
	padding-left: 0%;
	padding-right: 0%;

}

.blader{
	width: 23%;
	display: inline-block;
	margin-bottom: 2%;
	margin-right: 2%;
	overflow: hidden;
}

.blader img{
	width: 100%;
}

.arsrapport{
	margin-right: 0;
}


.sokeknapp{
	border-style: solid;
	padding-left: 1em;
	padding-right: 1em;
}
.sokefelt{
}

/*




*/

.nyheter-box{/*nyhet bokser  */
	/*background:#A80000;*/
	background: #F6F6F6;
	display: inline-block;
	text-align: center;
	font-size: 1.5em;
	width: 31%;
	margin: 1%;
	padding: 0;
	height: 11em;
	overflow: hidden;
	position: relative;
	vertical-align: middle;

}
.nyheter-box .caption{/*nyheter sin bilde tekst (caption)*/
	position: absolute; 
	width: 100%; 
	height: auto; 
	bottom: 0; left: 0;
	 color: #fff; 
	 background: black; 
	 text-align:center; 

	 opacity: 0.7;
	 font-family: "raleway","arial"; 
}

.nyheter-box .caption p{/* bildetekst på nyhetboksene */
	margin: 0;
	padding: 0.5em;
}
.main-box{/*Det er en boks som innholder alle nyhetboksene*/
	
	display: inline-block;
	width: 100%;
	margin-bottom: 5em;
	

}

/*det er der det står nyhetsartikklene med  bilde og tekskt⇓⇓ */
 
.nyheter-box img{/*nyhetboksene sin bilder tag*/
	width: 100%;	
	height: auto;


}
.nyhetsbilde img{/* nyhetensbildet på nyhetssiden */
	display: inline-block;
	width: 100%;

}
.nyhetstekst p{
	/*border: 2px solid red;*/
	font-family: "raleway", "arial"; 
	font-size: 1.2em;
	line-height: 1.5;
}


h1 {
	font-family: "raleway", "arial";
	font-size: 2em;
	line-height: 1.3;
	margin-top: 0;
	font-weight: 400;
}
h2 {
	font-family: "raleway", "arial";
	line-height: 1.3; 
	
}
h3 {
	font-family: "raleway", "arial"; 
	line-height: 1.3;
}
h4 {
	font-family: "raleway", "arial"; 
	line-height: 1.3;
}

a{
	font-family: "raleway", "arial"; 
	text-decoration: none;
	line-height: 1.3;

}

.bildene{
	width:100%;
	display:block;
	height: auto;
	/*
	margin-left:auto;
	margin-right:auto;
	*/
}
.retrett_bilde{
	float:right;
	width:12em;
	margin-left:1em;

}
.float{
	float:right;
}
.table_row{
	width:100%;
	background-color:#e30000;
	text-align:center;
	color:white;
	font-family: "raleway", "arial"; 
}
.table_cell{
	width: 8%;
}
table{
	margin-left:auto;
	margin-right:auto;
}

.overskrift{
	font-family: "raleway", "arial";
	font-weight: 400;

}
.texten{
	font-family: "raleway", "arial";
	line-height:1.5;

	margin-right: 1em;
		
}


.bold{
	font-weight: bold;
}

.liten{
	font-size: 0.6em;
}



/*kontakt oss siden */
.kontakt-oss-innhold{
	font-family: "raleway", "arial";
	text-decoration: none;
	font-size: 1.2em;
	float: left;
	width:40%;
	margin-left: 17px;
	line-height: 1.6;

}
.kontakt-oss-innhold2{
	font-family: "raleway", "arial";
	text-decoration: none;
	font-size: 1.2em;
	float: right;
	width:100%;
	margin-left: 17px;
	line-height: 1.6;


}

.kontakt-oss-bilde{/* kontakt oss sidensbilde*/
	float: right;
	margin-top: 4em;
	width: 53%;

}

.sosial-media img{
	float: right;
	margin-top: 2.1em;
	margin-left: 1em;
	margin-bottom: 0px;
	width: 8.1%;
}

a:visited{/*for linkene på kontakt oss siden*/
	/*color:black;*/
}

.sekreteriat{
	list-style-type: none;
	width:50%;
	display:inline-block;
	float:left;
	margin-top: 1.5em;
	margin-bottom: 4em;
}



.sekreteriat-list{
	overflow: hidden;
	margin:0;
	padding:0;
	list-style-type: none;
}

.sekreteriat-bilde, .sekreteriat-tekst{
	width:45%;
}
.rapportbilde{
	width: 50%;
}
.sekreteriat-bilde{
	display: inline-block;
	float:left;
}


.sekreteriat-tekst{
	display: inline-block;
	float:left;
	padding-right: 5%;
}

.sekreteriat-tekst p{
	margin-top:0;
}

/* TRANSCRIPT: sub til videoene */
#transcript{
	display: none;
}

.texten-aktivitet{
	
	margin-right:2%;
	float: left;
	font-family: "raleway", "arial";
	
	}



	/* Mobilversjon!*/
@media all and (max-width: 412px){
	.sekreteriat-bilde, .sekreteriat-tekst{
		width:68%;
	}

	
	.kontakt-oss-bilde{
		display:none;
	}


}	

@media all and (max-width: 480px){
	#nyhetersok form{
		padding-right:0em;
	}
	
	#FORSIDEN{
		display:block;
	}
	.overskrift{
		margin-top:2%;
		margin-left:2%;
	}
	.sosial-media img{
		margin-right:1em;
	}
	
	
	
	.sekreteriat{
		width:100%;
	}
	.sokeboks{
		display: none;

		
	}
    .sokeboks form {
	float: none;
	width: 13em;
	margin:auto;
	margin-top: 1em;
	}

	#main{
		margin-top: 0em;
	
	}
	.menybar{
		display: none;
	}
	
	.venstre{
		cursor: pointer;
		display: block;
	}
	.hogre{
		cursor: pointer;
		display: block;
	}
	nav{
		text-align:left;
	}
	#sidebilde{
	
	display:block;
	height: 3em;
	width:3em;
	float:left;	
	
	}
	#sidebilde-hogre{
	
	display:block;
	height: 3em;
	width:3em;
	float:right;	
	
	}
	.under-nav{
		display:none;
	}
	.innhold-boks {
		width:100%;
		margin-left:0;
		margin-right:0;
		margin-top:0;
		padding:0;
	}
	.lik-linje{
		width:100%;
	}
	.undertittel{
		list-style-type: none;
		
	}
	#sidemeny{
		padding-left:0;
	}
	
	.nyheter-box{
		width:100%;
		margin-left:0;
		margin-right:0;
		margin-top:0;
		margin-bottom:0.5em;
	}
	
	.texten{
		margin-left: 4%;
		margin-right:4%;
	
	}
	.overskrift{
		margin-left:2%;
		margin-top:2%;
	}
	.for-lokallag{
		width: 100%;
		height:6em;
		padding-top: 2%;
		padding-bottom:2%;
	}
	.for-leir{
		width: 100%;
		height:6em;
		margin-left: 0%;
		padding-top: 2%;
		padding-bottom:2%;
	}
	.blader{
		width: 45%;
		margin-left:2%;
		margin-right:2%;
	}
	.ledertrening{
		width:100%;
		margin-right: 2%;
	}
	
	.retrett{
		width: 100%;
		margin-left:2%;
		background-size: auto 100% ;
	}
	.ledertrening p{
		font-size:1.5em;
	}
	.retrett p{
		font-size:1.5em;
		color: black;
	}
	.kontakt-oss-bilde{
		display:none;
	}
	.sosial-media img {
		margin-top: 15em;
	}
}

	/*Nettbrett versjon*/
@media all and (max-width: 668px) and (min-width: 481px){
	
	#FORSIDEN{
		display:block;
	}


	.overskrift{
		margin-top:2%;
		margin-left:2%;
	}
	
	.sekreteriat{
		width:100%;
	}
	.sokeboks{
		display: none;

		
	}
	.sokeboks form{
		float: none;
		width:13em;
		margin:auto;
		margin-top: 1em;
		
	}

	.menybar{
		display: none;
	}
	#main{
		margin-top: 0em;
	
	}
	#sidemeny{
	padding: 0 1em 1em 1em;
	}
	.venstre{
		cursor: pointer;
		display: block;
	}
	nav{
		text-align:left;
	}
	#sidebilde{
	
	display:block;
	height: 3em;
	width:3em;
	float:left;	
	
	}
	#sidebilde-hogre{
	
	display:block;
	height: 3em;
	width:3em;
	float:right;	
	
	}
	.under-nav{
		display:none;
		
	}
	.lik-linje{
		width:100%;
	}
	.undertittel{
		list-style-type: none;
		
	}
	
	.innhold-boks{
		margin-left: 1%;
		width:100%;
		margin-left:0;
		margin-top:0;
		padding:0%;
	}
	.nyheter-box{
		width:48%;
		margin-left:1%;
		margin-right:0;
		margin-top:0;
		margin-bottom:0.5em;
		font-size: 1.2em;
		
	}
	
	.texten{
		margin-left: 4%;
		margin-right:4%;
	
	}

	.Mbilde{
		width: 96%
	}
	.for-lokallag{
		width: 100%;
		height:6em;
		padding-top: 2%;
		padding-bottom:2%;
	}
	.for-leir{
		width: 100%;
		height:6em;
		margin-left: 0%;
		padding-top: 2%;
		padding-bottom:2%;
	}
	
	#nyhetersok form{
		padding-right:0em;
	}
	.blader{
		width: 45%;
		margin-left:2%;
		margin-right:2%;
	}
	.ledertrening{
		width:100%;
		margin-right: 2%;
		height:10em;
	}
	
	.retrett{
		width: 100%;
		margin-left:2%;
		background-size: auto 100% ;
		height:10em;
	}
	.ledertrening p{
		font-size:1.5em;
	}
	.retrett p{
		font-size:1.5em;
		color: black;
	}
	
}

@media all and (max-width: 860px) and (min-width: 669px){
	.sosial-media img{
		margin-right:1em;
	}
	
	.overskrift{
		margin-top:2%;
		margin-left:2%;
	}
	
	.sekreteriat{
		width:100%;
	}
	.menybar{
		font-size: 0.7em;
	}
	.link-font-style{
		font-size: 0.9em;
	}
	.link-style{
		font-size: 0.6em;
	}
	
	.nyheter-box{
		width:48%;
		margin-left:1%;
		margin-right:0;
		margin-top:0;
		margin-bottom:0.5em;
		font-size: 1.2em;
		
	}

	
	.for-leir{
		width: 100%;
		height:6em;
		margin-left: 0%;
		padding-top: 2%;
		padding-bottom:2%;
	}
	.for-lokallag{
		width: 100%;
		height:6em;
		padding-top: 2%;
		padding-bottom:2%;
	}
	.blader{
		width: 45%;
		margin-left:2%;
		margin-right:2%;
	}
	.ledertrening p{
		font-size:1.8em;
	}
	.retrett p{
		font-size:1.8em;
		color: black;
		padding-top: 1.2em;
	}
	.ledertrening {
		width:100%;
	}
	
	.retrett {
		width:100%;
	}

}
@media all and (max-width: 1080px) and (min-width: 793px){
	.ledertrening p{
	font-size:1.5em;
	}
	.retrett p{
	font-size:1.5em;
	color: black;
	padding-top: 0.2em;
	}
	.ledertrening {
		width:48.5%;
	}
	
	.retrett {
		width:48.5%;
	}
	
}

@media all and (max-width: 668px) and (min-width: 536px){
		
	.ledertrening p{
		font-size:1.5em;
	}
	.retrett p{
		font-size:1.5em;
		color: black;
		padding-top: 1.2em;
	}
	
	.kontakt-oss-bilde{
		padding-top: 0.8em;
		padding-right: 0.8em;
	}

}
@media all and (max-width: 1220px) and (min-width: 1081px){
	.nyheter-box{
		width:31%;
		margin-left:1%;
		margin-right:0;
		margin-top:0;
		margin-bottom:0.5em;
		font-size: 1.2em;
		
	}
}
@media all and (max-width: 1080px) and (min-width: 861px){
	.sekreteriat{
		width:100%;
	}
		.link-style{
		font-size: 0.7em;
	}
	.nyheter-box{
		width:48%;
		margin-left:1%;
		margin-right:0;
		margin-top:0;
		margin-bottom:0.5em;
		font-size: 1.2em;
		
	}
	.blader{
		width: 20%;
		margin-left:2%;
		margin-right:2%;
	}
	
	.ledertrening p{
		font-size:1.9em;
	}
	.retrett p{
		font-size:1.7em;
		color: black;
		padding-top: 0em;
	}

}

@media all and (max-width: 1081px) and (min-width: 1038px){
	.ledertrening p{
		font-size:1.6em;
	}
	.retrett p{
		font-size:1.6em;
		color: black;
		padding-top: 0.2em;
	}

}

		




