/* CSS Document */

body {
	background-color: #666666;
	/* background: url(ressurser/pattern_062.gif);*/

	color: black;
	}
#innholdsfelt {
	background-color: #bbbbbb;
	border: 1px solid #888888;
}
#sidetopp {
	color:#FFF;
	background: url(ressurser/generelltopp_1000x120.jpg);
	width: 1000px;
	height: 120px;
	margin:0 auto;
}
#nostenokkel {
}

#sentrering {
	background-color: #ffffff;
}
#kolonne1 { 
/*	background-color: #ffffff;*/
}
#kolonne3 {
/*	background-color: #ffffff;*/
}
#kolonne2 {
/*	background-color: #ffffff;*/
}

#sidebunn {
	background: url(ressurser/sidebunn.jpg);
	color: #000000;
	width: 1000px;
	height:40px;
	margin:0 auto;
}

/*
#kolonne1 > p, #kolonne2 > p, #kolonne3 > p, 
#kolonne1 > h2, #kolonne2 > h2, #kolonne3 > h2, 
#kolonne1 > div, #kolonne2 > div, #kolonne3 > div {
	padding: 0 10px;
}
*/

