.halvbredde {width: 45%;padding-right:5%;float:left;}
  .spalterbortover .tx-rscontentcolumn-pi1 {border-top: none;}
  .spalterbortover .tx-rscontentcolumn-pi1 .leftcol, .spalterbortover .tx-rscontentcolumn-pi1 .rightcol {width: 100%;padding:0;}
  .spalterbortover .venstre .news-latest-container {width:185px;padding-right:5px;float:left;overflow:hidden;}
  .spalterbortover .hoyre .news-latest-container {width:185px;padding-left:5px;float:left;overflow:hidden;}
  .cssclear {clear: both;}